html, body, #app {
  min-height: 100vh;
  //overflow: hidden;
}

#app {
  @include make-container();
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.theme-2 {
    color:  $body-color-2;
  }
  &.theme-3 {
    color: $body-color-3;
  }
}
