// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Colors
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

//
//  Grey
//
$black: hsb(240, 2, 16); //#282829
$grey-900: hsb(216, 3, 40); //#636466
$grey-700: hsb(216, 3, 59); //#929497
$grey-500: hsb(220, 2, 70); //#AFB0B2
$grey-300: hsb(210, 3, 80); //#C6C9CC
$grey-100: hsb(210, 3, 93); //#E6EAED
$white: hsl(0, 0, 100); //#FFFFFF

//
//  Yellow
//
$yellow: hsb(46, 69, 100); //#FFD550
$yellow-500: hsb(45, 50, 100); //#FEDE80
$yellow-100: hsb(43, 30, 100); //#FFE9B3

//
//  Blue
//
$blue: hsb(208, 65, 80); //#488FCC
$blue-500: hsb(203, 60, 87); //#59ABDF
$blue-100: hsb(203, 46, 92); //#7EC1EA

//
//  Green
//
$green: hsb(171, 52, 76); //#5EC3B4
$green-500: hsb(171, 37, 81); //#81CEC3
$green-100: hsb(171, 24, 85); //#A5D9D1

//
//  Red
//
$red: hsb(14, 82, 95); //#F15A2B
$red-500: hsb(13, 67, 95); //#F37450
$red-100: hsb(13, 48, 97); //#F79A81

//
//  Orange
//
$orange: hsb(29, 82, 96); //#F68C2C
$orange-500: hsb(27, 67, 97); //#F89D51
$orange-100: hsb(27, 49, 98); //#FBB880

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Theme Colors
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

//
//  Theme Color Definitions
//
$primary-1: $yellow;
$secondary-1: $yellow-500;
$tertiary-1: $yellow-100;
$primary-2: $blue;
$secondary-2: $blue-500;
$tertiary-2: $blue-100;
$primary-3: $red;
$secondary-3: $red-500;
$tertiary-3: $red-100;
$success: $green;
$info: $green-500;
$danger: $orange;
$warning: $orange-500;
$light: $grey-100;
$dark: $grey-900;

$theme-colors: (
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);
$theme-colors-1: map-merge(
  (
    "primary": $yellow,
    "secondary": $yellow-500,
    "tertiary": $yellow-100
  ), $theme-colors
);

$theme-colors-2: map-merge(
    (
      "primary": $blue,
      "secondary": $blue-500,
      "tertiary": $blue-100
    ), $theme-colors
);

$theme-colors-3: map-merge(
    (
      "primary": $red,
      "secondary": $red-500,
      "tertiary": $red-100
    ), $theme-colors
);

//
//  Default Body Colors
//
$body-color-1: theme-color($theme-colors-1, "primary");
$body-color-2: theme-color($theme-colors-2, "primary");
$body-color-3: theme-color($theme-colors-3, "primary");
$body-bg: $black;

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Fonts weights
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-weight-base: $font-weight-medium;
$line-height-base: 1.5;

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Fonts
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

$font-family-base: 'Montserrat', sans-serif;
$font-family-icons: 'gallery_icons';
$font-size-base: 1rem;

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Grid
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

$grid-breakpoints: (
  sm: 0,
  md: 769px,
  lg: 1021px
);

$grid-columns: 12;
$grid-gutter-width: 20px;


// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Transition
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

$transition-base: all .2s ease-in-out;




