@mixin button-variant($parent, $color) {
  #{$parent} {
    border: $border-base-width solid $color;
    background-color: transparent !important;
  }
  a#{$parent},
  button#{$parent} {
    &:hover,
    &:active,
    &:focus {
      color: $body-bg;
      background-color: $color !important;
    }
  }
}