@mixin vertical-spacing ($atStart: true, $atEnd: false) {
  @if $atStart {
    margin-top: $vertical-spacing-base;
    @include media-breakpoint-up(lg) {
      margin-top: $vertical-spacing-base*2;
    }
  }
  @if $atEnd {
    margin-bottom: $vertical-spacing-base;
    @include media-breakpoint-up(lg) {
      margin-bottom: $vertical-spacing-base*2;
    }
  }
}
